ul {
  padding: 0;
}
nav {
  width: 100%;
  padding: 1rem;
  background-color: rgb(247, 247, 247);
  margin-bottom: 2rem;
  box-shadow: 0px 0px 10px 0px #b8b8b8;
}
nav .container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos-pokemon {
  width: 70%;
  margin: 0 auto;
}

.infos-pokemon h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.infos-pokemon .content {
  display: flex;
}

.infos-pokemon .content-left {
  flex: 1;
}

.infos-pokemon .content-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.infos-pokemon .content-left ul li {
  margin-bottom: 10px;
}

.infos-pokemon .content-left ul li b {
  font-weight: bold;
}

.infos-pokemon .content-right img {
  max-width: 200px;
  width: 200px;
  height: auto;
}

.error {
  text-align: center;
}

footer {
  margin-top: 2rem;
  text-align: center;
  padding: 2rem;
  background-color: rgb(247, 247, 247);
  font-size: 1rem;
}
